.no-data {
  margin: 0;
  text-align: center;
  padding: 5px;
  background-color: #f8f7f7;
  /* animation: message 4s; */
}

.title {
  text-align: center;
}

.text-link {
  color: #ff0055;
  text-decoration: inherit;
  font-weight: 500;
}

.text-link:hover {
  color: #e9145b;
}

.greet {
  font-weight: 500;
}

.loader {
  display: block;
}
